<h1>Welcome to Eritheia Library Management System</h1>
<p>E-library system makes the work of a person who is in charge of the library more convenient to search, arrange and make an inventory of the contents of the library. In this paper, a search system for an E-Library for the academic organizations is introduced such as universities, researches centers. This system has some methods of searches and it is convenient for the researchers to find their required information. The data base contains one category, Books. The administrator of the E-Library can add, update, and delete any information in the database easily. We developed an E-Library Search System using Ruby on Rails, POSTGRES and HEROKU with PUMA server.</p>
<style>
h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }
.subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }
p { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }
</style>