<div class="sidenav">
<div class="col-md-3 col-3 col-sm-3 col-lg-3 " style="padding-left: 1px;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;height:800px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">LMS</span> </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <%# <li class="nav-item"> <a href="/reader/book_categories" class="nav-link" aria-current="page"> <i class="fa fa-home"></i><span class="ms-2">Categories</span> </a> </li> %>
        <li> <a href="/reader/books" class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2">All Books</span> </a> </li>
        <li> <a href="/reader/requested_books" class="nav-link text-white"> <i class="fa fa-first-order"></i><span class="ms-2">Requested Books</span> </a> </li>
        <li> <a href="/reader/top_rated_books/index" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Top Rated Books</span> </a> </li>
    </ul>
    </div>
</div>
</div>